<app-header></app-header>
<ion-content class="content">
  <ion-card class="citation-card" id="name">
    <ion-card-header><ion-card-title>Welcome to UALCAN User Guide!</ion-card-title></ion-card-header>
    <ion-card-content>
      <ul>
        <li><a href="#" onclick="cordova.InAppBrowser.open('https://ualcan.path.uab.edu/tutorial.html#step1', '_system', 'location=yes'); return false;">1. How to obtain list of top differentially expressed genes?</a></li>
        <li><a href="#" onclick="cordova.InAppBrowser.open('https://ualcan.path.uab.edu/tutorial.html#step2', '_system', 'location=yes'); return false;">2. How to query UALCAN for gene(s) of interest in specific cancer?</a></li>
          <ul>
            <li><a href="#" onclick="cordova.InAppBrowser.open('https://ualcan.path.uab.edu/tutorial.html#step2a', '_system', 'location=yes'); return false;">a. How to explore expression profile of gene of interest based on clinico-pathologic factors?</a></li>
            <li><a href="#" onclick="cordova.InAppBrowser.open('https://ualcan.path.uab.edu/tutorial.html#step2b', '_system', 'location=yes'); return false;">b. How to obtain Kaplan meier plot from UALCAN?</a></li>
            <li><a href="#" onclick="cordova.InAppBrowser.open('https://ualcan.path.uab.edu/tutorial.html#step2c', '_system', 'location=yes'); return false;">c. How to obtain promoter DNA methylation level from UALCAN?</a></li>
            <li><a href="#" onclick="cordova.InAppBrowser.open('https://ualcan.path.uab.edu/tutorial.html#step2d', '_system', 'location=yes'); return false;">d. How to obtain list of positive and negatively correlated genes from UALCAN?</a></li>
          </ul>
        <li><a href="#" onclick="cordova.InAppBrowser.open('https://ualcan.path.uab.edu/tutorial.html#step3', '_system', 'location=yes'); return false;">3. How to obtain expression and survival profile for pre-compiled gene classes?</a></li>
        <li><a href="#" onclick="cordova.InAppBrowser.open('https://ualcan.path.uab.edu/tutorial.html#step4', '_system', 'location=yes'); return false;">4. Introduction of Cancer terms</a></li>
        <li><br/><h2>Please Site:</h2>Chandrashekar DS, Bashel B, Balasubramanya SAH, Creighton CJ, Rodriguez IP, Chakravarthi BVSK and Varambally S. UALCAN: A portal for facilitating tumor subgroup gene expression and survival analyses. Neoplasia. 2017 Aug;19(8):649-658. doi: 10.1016/j.neo.2017.05.002<a class="ion-home color-primary item" href="#" onclick="window.open('https://www.ncbi.nlm.nih.gov/pubmed/28732212', '_system', 'location=yes'); return false;"> [PMID:28732212]</a></li>
      </ul>
    </ion-card-content>
  </ion-card>
  <app-footer></app-footer>
</ion-content>
