<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">
      Tutorial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
    <ion-card class="citation-card">

      <!--input type="button" class="btn btn-danger" value="Convert" (click)="downloadInvoice()" /-->
        <ion-card-header><ion-card-title>Welcome to UALCAN User Guide!</ion-card-title></ion-card-header>
        <ul>
            <li> How to obtain list of top differentially expressed genes?</li>
            <li>How to query UALCAN for gene(s) of interest in specific cancer?</li>
              <p>a. How to explore expression profile of gene of interest based on clinico-pathologic factors?
              </p><p>b. How to obtain Kaplan meier plot from UALCAN?
              </p><p>c. How to obtain promoter DNA methylation level from UALCAN?
              </p><p>d. How to obtain list of positive and negatively correlated genes from UALCAN?</p>
            <li>How to obtain expression and survival profile for pre-compiled gene classes?</li>
          <li>Introduction of Cancer terms</li>
        </ul>
        <ion-card-content>
          <p>Chandrashekar DS, Bashel B, Balasubramanya SAH, Creighton CJ, Rodriguez IP, Chakravarthi BVSK and Varambally S. UALCAN: A portal for facilitating tumor subgroup gene expression and survival analyses. Neoplasia. 2017 Aug;19(8):649-658. doi: 10.1016/j.neo.2017.05.002<a class="ion-home color-primary item" href="#" onclick="window.open('https://www.ncbi.nlm.nih.gov/pubmed/28732212', '_system', 'location=yes'); return false;"> [PMID:28732212]</a></p>
        </ion-card-content>
      </ion-card>
    <!--input type="button" class="btn btn-danger" value="Convert" (click)="downloadInvoice()" /-->
</ion-content>
