.title-header {
    --background: white;
    border: 1px solid #144B39;
  }
  
  .heersinkLogo{
    height: auto; 
    width: auto; 
    max-width: 140px; 
    margin-left: 15px; 
    padding-top: 7px
  }
  
  .ualcanLogo {
    height: auto; 
    width: auto; 
    max-width: 110px; 
    margin-right: 15px;
    float: right;
  }
  
  .toolbar {
    --background: white;
  }