.title-header {
    --background: white;
    border: 1px solid #144B39;
  }
  
  .heersinkLogo{
    height: auto; 
    width: auto; 
    max-width: 190px; 
    max-height: 65px; 
    margin-left: 15px; 
    margin-bottom: 10px; 
    margin-top: 10px
  }
  
  .ualcanLogo {
    margin-right: 15px;
    margin-top: 5px;
    height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 70px;
    float: right;
  }
  
  .toolbar {
    --background: white;
  }