<ion-footer class="ion-footer">
    <div class="footer-div">
      <div class="inner-footer-div">
        <div class="inner-footer-div">
          <a href="https://www.uab.edu/medicine/home/heersink" target="_blank"><img class="footer-img-heersink" src="/assets/images/heersink.png"></a>&nbsp;&nbsp;
        </div>
        <div>
          <a href="https://www.uab.edu/onealcancercenter/" target="_blank">
            <img class="footer-img-oneal" src="/assets/images/oneal.png"></a>
            &nbsp;&nbsp;
        </div>
      </div>
      <div class="text-piped inner-footer-div">
        <span><a class="footer-a" href="https://www.uab.edu/home/contact" target="_self">Contact UAB</a></span> 
        <span><a class="footer-a" href="https://www.uab.edu/privacy" target="_blank">Privacy</a></span> 
        <span><a class="footer-a" href="https://www.uab.edu/toolkit/web/terms-of-use" target="_blank">Terms of Use</a></span>
        <span>© 2022 The University of Alabama at Birmingham</span>
      </div>
      <p class="footer-p">UAB is an Equal Opportunity/Affirmative Action Employer 
          committed to fostering a diverse, equitable and family-friendly environment in which all faculty and staff can excel and achieve 
          work/life balance irrespective of race, national origin, age, genetic or family medical history, gender, faith, gender identity 
          and expression as well as sexual orientation. UAB also encourages applications from individuals with disabilities and veterans.
      </p>
    </div>
  </ion-footer>