.footer-div {
  text-align: center; 
  color: white; 
  padding: 15px; 
  margin-top: 15px; 
  background-color: #1E6B52;
  height: 100%;
}

.footer-img-heersink {
  height: auto; 
  width: auto; 
  max-width: 180px; 
  max-height: 
  70px; background-color: #1E6B52;border:1.5px solid green;
}

.footer-img-oneal {
  height: auto; 
  width: auto; 
  max-width: 180px; 
  max-height: 70px;
  background-color: #1E6B52; 
  border:1.5px solid green;
}

.footer-a {
  color:white;
}

.footer-p {
  text-align:center;
  font-weight: 120;
  font-size: 14px;
  color:white;
}

.ion-footer {
  height: 60%;
}

.lockedFooterSeparator {
  margin-left: 5px;
  margin-right: 5px;
}