<ion-header class="title-header">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
        <ion-back-button class="backbutton" text="Back" defaultHref="/HomePage"></ion-back-button>
   </ion-buttons>
    <ion-buttons slot="end">
        <ion-button  class="downloadbutton" (click)="downloadHighchart()">
          download
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="content">
  <ion-card id="plotCard" class="citation-card">
    <div id="plotTable" style="height:100%;text-align:center;overflow-y:scroll">
      <div align="center" class="plotDiv" style="background: #cadbf7; ">
        <div>
            <font id="plotTitle" size="4" face="arial"></font>
            <select class="customdrop" id="plotSelect" (change)="show()"></select>
        </div>
        <br/>
      </div>
    </div>
  </ion-card>
  <app-footer></app-footer>
</ion-content>