.citation-card {
  height: 95%;
}

.toolbar {
  --background: white;
}

.title-header {
  --background: white;
  border: 1px solid #144B39;
  min-height: env(safe-area-inset-top, 0);
  padding-bottom: 5px;
}

.plotDiv {
  border-style: solid;
  color: #47433F;
  border: 1px solid #FFF;
  width:100%;
  height: 90%;
  background: #cadbf7;
}

#plotTable {
  height:100%;
  text-align:center;
  overflow-y:scroll
}

#box-plot {
    height: 95%;
}
  
#box-plot:fullscreen {
    padding-top: env(safe-area-inset-top, 0);
}

#plotStatisticsTable {
  width:100%;
}

.plotStatistic{
  border: 2.5px solid grey;
  vertical-align:middle;
}

.plotStatisticHeader{
  background-color:#C8F6FE;
  font-weight:bold;
}

.plotStatisticRow{
  background-color:#C8F6FE;
  font-weight:bold;
}

.plotStatisticCell{
  background-color:#DFFEFC;
}

html, body {
  width: 100vw;
  height: 100vh;
}