.citation-card {
    height: 95%;
  }

  ion-card{
    border: solid;
    border-color: #80828580;
    border-width:3px;
  }

  
  .text-piped span:after {
    content: "|";
    margin: 0 10px;
  }
  .text-piped span:last-child:after {
    content: '';
    margin: 0 10px;
  }

  .downloadbutton{
    --background: #808285;
    margin-bottom: env(safe-area-inset-top);
  }

  .backbutton{
    color: white;
  }

  .toolbar {
    --background: #1E6B52;
  }

  .footer {
    text-align: center;
  }