.citation-card {
  height: 95%;
}

.toolbar {
  --background: white;
}

.title-header {
  --background: white;
  border: 1px solid #144B39;
  min-height: var(--ion-safe-area-top);
  padding-bottom: 5px;
}

.container {
  border-style: solid;
  color: #47433F;
  border: 1px solid #FFF;
  width:100%;
  height: 100%;
  background: #cadbf7;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.plotTable {
  height:100%;
  text-align:center;
  overflow-y:scroll
}

.plotTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.boxPlot {
  flex-grow: 1; 
  min-height: 90%;
}
  
.boxPlot:fullscreen {
  padding-top: var(--ion-safe-area-top);
}

html, body {
  width: 100vw;
  height: 100vh;
}