<ion-header class="title-header">
  <!--This is just to cover the status bar-->
</ion-header>
<ion-content class="content">
  <ion-card id="plotCard" class="citation-card">
    <div id="plotTable">
      <div align="center" class="plotDiv">
        <div>
            <font id="plotTitle" size="2" face="arial">
              <b>Group By:&nbsp;&nbsp;</b>
            </font>
            <select class="customdrop" id="plotSelect" (change)="show($event)">
              @for (grouping of groupings(); track grouping)
              {
                <option value="{{grouping}}">{{grouping}}</option>
              }
            </select>
        </div>
        <div id="box-plot"></div>
        @if (statistics().length > 0)
        { 
          <table id="plotStatistics" align="center" border="1" class="plotStatisticTable">
            <tr align="center" class="plotStatisticRow">
              <td class="plotStatistic plotStatisticHeader">Comparison</td>
              <td class="plotStatistic plotStatisticHeader"><b>Statistical significance</b></td>
            </tr>
            @for (stat of statistics(); track stat.name)
            {
              <tr [ngStyle]="stat.style" align="center">
                <td class="plotStatistic plotStatisticCell">{{stat.name}}</td>
                <td class="plotStatistic plotStatisticCell">{{stat.value}}</td>
              </tr>
            }
          </table>
        }
      </div>
    </div>
  </ion-card>
  <app-footer></app-footer>
</ion-content>