<!--ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">
      Analysis
    </ion-title>
  </ion-toolbar>
</ion-header-->

<ion-header class="title-header">
  <div>
      <a href="https://www.uab.edu/home/"><img src="/assets/images/uabheader-1.png" height="40" style="margin-top: 10px; margin-bottom: 10px;"></a>
      <a href="https://www.uab.edu/medicine/pathology/"><img src="/assets/images/StandardPATHlogo.jpg" style=" 
        float:right; height: auto; width: auto; max-width: 200px; max-height: 50px; margin-right: 10px; margin-bottom: 5px; margin-top: 5px;"></a>
    </div>
</ion-header>


<ion-content id="containervalue">
  <div>
    <a>
      <img src="/assets/images/ualcanlogo.jpg" style="height: auto; width: auto; max-width: 180px; max-height: 70px; margin-left: 5px;"></a>
      &nbsp;&nbsp;

  </div>
  <ion-card class="citation-card">
    <form [formGroup]="form">
      <div id="container" >
          <ion-list>
            <!-- My code test for cancer dropdown box-->
            <ion-item >
              
              <div class="ion-padding">
            <ion-label>Select Cancer type</ion-label>
            <div></div>
                <div class="dropdownstyling">
                <select style="width: 230px; height: 40px;" formControlName="selectedCancer">  <!-- formControlName is used to capture the selected item from the dropdown-->
                  <option *ngFor="let cancer of cancers" value ="{{cancer.id}}">{{cancer.name}}</option>
                </select>
              </div>
            
          </div>
          </ion-item> 

          <!--My code for gene autocomplete-->
          <ion-item>
            <div class="ion-padding">
              <!--form [formGroup]="form"-->
                <ion-label>Select Gene type</ion-label> 
                <ng-select style="width: 230px; height: 40px;" [items]="genes | async" bindLabel="name" 
                  formControlName="name" notFoundText="No records found" 
                  [multiple]="false"
                  appendTo="#containervalue"
                  (keyup)="getGeneName($event)">
                </ng-select>
              <!--/form-->
              
              <!--div class="multiSelect">
                <label>Multiselect with custom bindings</label>
                <ng-select [items]="cities2" bindLabel="name" bindValue="name" [multiple]="true" placeholder="Select cities"
                  [(ngModel)]="selectedCityNames">
                </ng-select>
                <p>
                  Selected cities: {{selectedCityNames}}
                </p>
                <hr />
              </div-->
              <!---->
            </div>
          </ion-item>
          </ion-list>
        </div>
      </form>
        <div style="text-align:center">
          <ion-button (click)='goforward()' class="searchbutton" routerDirection="forward">Search</ion-button>
        </div>
      </ion-card>

      <ion-footer>
        <div style="text-align: center; color: white; padding: 15px; margin-top: 200px; background-color: #1E6B52;">
          <div style="margin-bottom: 15px">
            
          <div style="margin-bottom: 15px">
            <a href="https://www.uab.edu/medicine/home/heersink" target="_blank"><img style="height: auto; width: auto; max-width: 180px; max-height: 
              70px; background-color: #1E6B52;border:1.5px solid green;" src="/assets/images/heersink.png"></a>&nbsp;&nbsp;
          </div>
          <div>
            <a href="https://www.uab.edu/onealcancercenter/" target="_blank">
              <img src="/assets/images/oneal.png" style="height: auto; width: auto; max-width: 180px; max-height: 70px;background-color: #1E6B52; 
              border:1.5px solid green;"></a>
              &nbsp;&nbsp;
      
          </div>
            
          </div>
      
          <div class="text-piped" style="margin-bottom: 15px">
            <span><a style="color:white;" href="https://www.uab.edu/home/contact" target="_self">Contact UAB</a></span> 
            <span><a style="color:white;" href="https://www.uab.edu/privacy" target="_blank">Privacy</a></span> 
            <span><a style="color:white;" href="https://www.uab.edu/toolkit/web/terms-of-use" target="_blank">Terms of Use</a></span>
            <span>© 2022 The University of Alabama at Birmingham</span>
          </div>
          <p style="align:center;font-weight: 120;font-size: 14px;color:white;">UAB is an Equal Opportunity/Affirmative Action Employer 
              committed to fostering a diverse, equitable and family-friendly environment in which all faculty and staff can excel and achieve 
              work/life balance irrespective of race, national origin, age, genetic or family medical history, gender, faith, gender identity 
              and expression as well as sexual orientation. UAB also encourages applications from individuals with disabilities and veterans.
          </p>
        </div>
        
        </ion-footer>

</ion-content>
