<app-header></app-header>
<ion-content id="containervalue" class="content">
  <ion-card class="citation-card">
    <form [formGroup]="form">
      <div id="container" >
        <ion-list>
          <ion-item lines="none">
            <div class="dropdownContainer">
              <ion-label>Cancer</ion-label>
              <select class="dropdown" formControlName="selectedCancer" (change)="cancerChanged($event)">  <!-- formControlName is used to capture the selected item from the dropdown-->
                <option *ngFor="let cancer of (analysis == 'proteomics' ? proteomicCancers : cancers); index as i;" value ="{{cancer.id}}">{{cancer.name}}</option>
              </select>
            </div>
          </ion-item>
          <ion-item class="topPad" lines="none">
            <div class="dropdownContainer">
              <ion-label>Gene</ion-label>
              <ng-select class="dropdown" [items]="genes | async" bindLabel="name"
                         formControlName="name" notFoundText="No records found"
                         [multiple]="false"
                         appendTo="#containervalue"
                         (keyup)="getGeneName($event)">
              </ng-select>
            </div>
          </ion-item>
          <ion-item class="topPad" lines="none">
            <div>
              <ion-label>Analysis</ion-label>
              <ion-radio-group value="expression" (ionChange)="analysisChange($event)">
                <ion-item lines="none">
                  <ion-label>Expression</ion-label>
                  <ion-radio value="expression"></ion-radio>
                </ion-item>
                <ion-item lines="none">
                  <ion-label>Methylation</ion-label>
                  <ion-radio value="methylation"></ion-radio>
                </ion-item>
                <ion-item lines="none">
                  <ion-label>Proteomics</ion-label>
                  <ion-radio value="proteomics"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </form>
    <div style="text-align:center">
      <ion-button (click)='goForward()' class="searchbutton" routerDirection="forward">Search</ion-button>
    </div>
  </ion-card>
  <app-footer></app-footer>
</ion-content>
