<app-header></app-header>
<ion-content id="containervalue" class="content">
  <ion-card class="citation-card">
    <form [formGroup]="form">
      <div id="container" >
        <ion-list>
          <ion-item >
            <div class="ion-padding">
              <ion-label>Select Cancer type</ion-label>
              <div>
                <select class="dropdown" formControlName="selectedCancer">  <!-- formControlName is used to capture the selected item from the dropdown-->
                  <option *ngIf="!form.value.select" [ngValue]="null" selected disabled></option>
                  <option *ngFor="let cancer of cancers; index as i;" value ="{{cancer.id}}">{{cancer.name}}</option>
                </select>
              </div>
            </div>
          </ion-item> 
          <ion-item>
            <div class="ion-padding">
              <ion-label>Enter/Select Gene</ion-label> 
              <ng-select class="dropdown" [items]="genes | async" bindLabel="name" 
                formControlName="name" notFoundText="No records found" 
                [multiple]="false"
                appendTo="#containervalue"
                (keyup)="getGeneName($event)">
              </ng-select>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </form>
    <div style="text-align:center">
      <ion-button (click)='goforward()' class="searchbutton" routerDirection="forward">Search</ion-button>
    </div>
  </ion-card>
  <app-footer></app-footer>
</ion-content>
