.searchbutton{
  --background: #144B39;
  color: white;
}

.dropdown{
  width: 95%; 
  height: 40px;
  padding-bottom: 10px;
}

.fieldset{
  border-color: lightgray; 
  border-radius: 10px;
}

.dropdownContainer{
  width: 100%; 
}