
.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  .welcome-card ion-card-title{
    text-align: center;
  }
  
  .citation-card ion-card-title{
    text-align: center;
  }
  
  .footer{
    text-align: center;
    background-image: repeating-linear-gradient(to top,rgb(197, 199, 255) 0%,rgb(182, 180, 243) 5.8%,rgb(254, 254, 254) 5.8%,rgb(253, 253, 253) 92.4%,rgb(160, 164, 233) 94%,rgb(157, 162, 238) 99.6%);
    background-image: -ms-repeating-linear-gradient(bottom,rgb(197, 199, 255) 0%,rgb(182, 180, 243) 5.8%,rgb(254, 254, 254) 5.8%,rgb(253, 253, 253) 92.4%,rgb(160, 164, 233) 94%,rgb(157, 162, 238) 99.6%);
  
  }
  
  .logo-card {
    height: 50px;
    text-align: center;
    background-image: url('/assets/ualcan-logo.jpeg') no-repeat; 
  }
  
  .update{
    text-align: center;
  }
  
  ion-header{
    background-image: repeating-linear-gradient(to top,rgb(197, 199, 255) 0%,rgb(182, 180, 243) 5.8%,rgb(254, 254, 254) 5.8%,rgb(253, 253, 253) 92.4%,rgb(160, 164, 233) 94%,rgb(157, 162, 238) 99.6%);
    background-image: -ms-repeating-linear-gradient(bottom,rgb(197, 199, 255) 0%,rgb(182, 180, 243) 5.8%,rgb(254, 254, 254) 5.8%,rgb(253, 253, 253) 92.4%,rgb(160, 164, 233) 94%,rgb(157, 162, 238) 99.6%);
  
  }
  .header-logo{
    background-image: url('/assets/header1.png');
  }
  ion-header p{
    font: 25px sans-serif;
    font-weight: bold;
    text-align: center;
  }
  
  ion-card{
    border: solid;
    //border-color: rgb(46, 212, 241);
    border-color: #80828580;
    border-width:3px;
  }
  
  ion-card-title{
    font-weight: 500;
  }
  
  p{
    color: black;
  }

  @media(min-width: 480px){
    dropdown-list{
      padding: 1rem;
      cursor: pointer;
      border-radius: 5px;
      background-color: #ddd;
      list-style: none;
    }
  }


  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .example-input {
    max-width: 100%;
    width: 300px;
  }

  // auto complete //
  .ng-dropdown-panel {
    z-index: 10;
  }
  //

  .dropdownstyling{
    color: black;
  }

  .text-piped span:after {
    content: "|";
    margin: 0 10px;
  }
  .text-piped span:last-child:after {
    content: '';
    margin: 0 10px;
  }

  .title-header {
    padding-top:  env(safe-area-inset-top);
    padding-left: 10px;
    background: #1E6B52;
    color: white;
  }

  .searchbutton{
    --background: #808285;
  }