<app-header></app-header>
<ion-content class="main-body content">
  <ion-card class="welcome-card">
    <ion-card-content>
      <p><strong>Welcome to UALCAN Mobile</strong>, a free app available in android and iOS/Apple app store for analyzing gene expression, proteomics and promoter methylation data.
        <br/>
        <br/>
        It is a companion app for the web based <a href="https://ualcan.path.uab.edu"><span class="s2">UALCAN</span></a> and provides easy access to and analysis of TCGA gene expression and promoter methylation data as well as CPTAC proteomics data.
      </p>
    </ion-card-content>
    <div class="twitterLinkContainer"><a class="ion-home twitterLink item" href="#" onclick="window.open('https://twitter.com/@Now_UALCAN', '_system', 'location=yes'); return false;"><img src="/assets/images/x-twitter.svg" class="feedbackImage"><br/>Follow on Twitter</a></div>
    <div class="feedbackButton">
      <a href="mailto:ualcanask@gmail.com?subject=UALCAN Feedback" class="feedbackLink">
        <img src="/assets/images/mail-green.svg" class="feedbackImage">
        <br/>
        send feedback
      </a>
    </div>
  </ion-card>
  <ion-card class="citation-card">
      <ion-card-header><ion-card-title></ion-card-title></ion-card-header>
      <ion-card-content>
        <div class="column">
          <ion-img src="/assets/images/MRPL14.png"></ion-img>
        </div>
        <div class="column">
          <ion-img src="/assets/images/EZH2.png"></ion-img>
        </div>
      </ion-card-content>
    </ion-card>
  <ion-card class="update">
    <ion-card-header><ion-card-title>Updates</ion-card-title></ion-card-header>
    <ion-list lines="none">
      <ion-item>
        <span class="s1">02/12/2026</span>
      </ion-item>
      <ion-item>
        <span class="s3"><b>UALCAN</b> has been now visited over <b>1.8 Million</b> times by cancer researchers from over 100 countries and cited over 8000 times</span>
      </ion-item>
      <ion-item>
        <span class="s1">04/21/2025</span>
      </ion-item>
      <ion-item>
        <span class="s3"><b>MammOnc-DB</b>, an integrative breast cancer proteogenomic data analysis platform with over 20,000 samples including single cell sequencing data is now online: <a href="https://resource.path.uab.edu/MammOnc-Home.html"><span class="s2">https://resource.path.uab.edu/MammOnc-Home.html</span></a></span>
      </ion-item>
      <ion-item>
        <span class="s3"><b>Publication in npj Breast Cancer:</b></span>
      </ion-item>
      <ion-item>
        <span class="s3">Karthikeyan SK, Chandrashekar DS, Sahai S, Shrestha S, Aneja R, Singh R, Kleer CG, Kumar S, Qin ZS, Nakshatri H, Manne U, Creighton CJ, Varambally S. MammOnc-DB, an integrative breast cancer data analysis platform for target discovery. NPJ Breast Cancer. 2025 Apr 18;11(1):35. doi: 10.1038/s41523-025-00750-x.<a href="https://pubmed.ncbi.nlm.nih.gov/40251157/"><span class="s2">[PMID: 40251157]</span></a></span>
      </ion-item>
      <ion-item>
        <span class="s1">11/10/2023</span>
      </ion-item>
      <ion-item>
        <span class="s3"><b>UALCAN Mobile</b>, a free companion tool /app for UALCAN is now available in App store and Google Play store. This app will make UALCAN/TCGA cancer gene expression data readily accessible for researchers through phones and tablets and make target discovery at the fingertips.</span>
      </ion-item>
      <ion-item>
        <span class="s3"><b>Download UALCAN Mobile app at:</b></span>
      </ion-item>
      <ion-item>
        <a href="https://play.google.com/store/apps/details?id=edu.uab.path.ualcan"><span class="s2">https://play.google.com/store/apps/details?id=edu.uab.path.ualcan</span></a>
      </ion-item>
      <ion-item>
        <a href="https://apps.apple.com/us/app/ualcan-mobile/id6450547634"><span class="s2">https://apps.apple.com/us/app/ualcan-mobile/id6450547634</span></a>
      </ion-item>
    </ion-list>
  </ion-card>
  <app-footer></app-footer>
</ion-content>